@charset "utf-8";

body {
	background-color: #000;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
a{text-decoration:none;
color:#fff;
}
a:hover{
	color:#DE2947;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
.contact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 170%;
	text-align: left;
	color: #fff;
	line-height: 68.93%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 638px;
	position: absolute;
	top: 126px;
	margin-bottom: 0;
}
.portfolio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 170%;
	text-align: left;
	color: #fffefe;
	line-height: 68.93%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 554px;
	position: absolute;
	top: 126px;
	margin-bottom: 0;
}
.services {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 170%;
	text-align: left;
	color: #fff;
	line-height: 68.93%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 463px;
	position: absolute;
	top: 127px;
	margin-bottom: 0;
}
.about {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 170%;
	text-align: left;
	color: #fff;
	line-height: 68.93%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 391px;
	position: absolute;
	top: 127px;
	margin-bottom: 0;
}
.home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 170%;
	text-align: left;
	color: #df2947;
	line-height: 68.93%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 320px;
	position: absolute;
	top: 127px;
	margin-bottom: 0;
}
#Shape_6_copy_3 {
	left: 0px;
	position: absolute;
	top: 158px;
	margin-bottom: 0;
	background-color: #df2947;
	width: 1029px;
	padding-top: 1px;
	height: 1px;
	height: 2px;
	overflow: hidden;
}
#Shape_6_copy_2 {
	left: 0px;
	position: absolute;
	top: 472px;
	margin-bottom: 0;
	background-color: #df2947;
	width: 1029px;
	padding-top: 1px;
	height: 1px;
	height: 2px;
	overflow: hidden;
}
.Proffessional_Service {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	text-align: left;
	color: #df2947;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 590px;
	position: absolute;
	top: 505px;
	margin-bottom: 0;
}
.Custom_Artwork_copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	text-align: left;
	color: #df2947;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 191px;
	position: absolute;
	top: 505px;
	margin-bottom: 0;
}
.dummy_text_of_the_printing_and_copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #e0e0e0;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 602px;
	position: absolute;
	top: 549px;
	margin-bottom: 0;
	width: 252px;
}
.dummy_text_of_the_printing_and {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #e0e0e0;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 191px;
	position: absolute;
	top: 550px;
	margin-bottom: 0;
	width: 252px;
}
.More_copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	text-align: left;
	color: #df2947;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 376px;
	position: absolute;
	top: 723px;
	margin-bottom: 0;
}
.More {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	text-align: left;
	color: #df2947;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 799px;
	position: absolute;
	top: 724px;
	margin-bottom: 0;
}
.Coded_and_hosted_by_Mass_Distribution_Media {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: left;
	color: #666;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 7px;
	position: absolute;
	top: 752px;
	margin-bottom: 0;
}
#homepage_redesignyourbrand_r1_c9 {
	left: 286px;
	position: absolute;
	top: 9px;
	height: 107px;
	margin-bottom: 0;
	width: 452px;
}
#homepage_redesignyourbrand_r4_c1 {
	left: 0px;
	position: absolute;
	top: 160px;
	background-image: url(images/homepage_redesignyourbrand_r4_c1.gif);
	overflow: hidden;
	height: 314px;
	margin-bottom: 0;
	width: 1024px;
}
#homepage_redesignyourbrand_r13_c18 {
	left: 585px;
	position: absolute;
	top: 550px;
	background-image: url(images/homepage_redesignyourbrand_r13_c18.gif);
	overflow: hidden;
	height: 50px;
	margin-bottom: 0;
	width: 5px;
}
#homepage_redesignyourbrand_r15_c5 {
	left: 176px;
	position: absolute;
	top: 549px;
	background-image: url(images/homepage_redesignyourbrand_r15_c5.gif);
	overflow: hidden;
	height: 54px;
	margin-bottom: 0;
	width: 15px;
}
.mdm{
	color:#666;
}